form.pure-form action="/" method="get"
  fieldset
    legend Please enter the number of letters for this grid
    input type="text" name="n" id="n" placeholder="It must be a number" required=""
    button.pure-button.pure-button-primary Submit
