.pure-g
  .pure-u-1.text-center
    == slim :form

.pure-g
  .pure-u-1.text-center
    h2 Grid
    = @grid.inspect
    hr
    = @wordfinder.load_dictionary.sample
    hr
    = @grid[0].join('')
    hr
    = @wordfinder.horizontal_search
    hr
.pure-g
  .pure-u-1.text-center
    table.pure-table.centered-table
      thead
        tr
          th #
          - for i in 1..@grid.size
             th= i
      tbody
        - @grid.each_with_index do |row, index|
          tr
            th=index
            - row.each do |letter|
              th= letter

